.health-records-container {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: large;
  display: flex;
  /* gap:30px; */
  flex-direction: row;
  border: 2px solid rgb(18, 69, 44);
  border-radius: 5px;
  justify-content:space-around;
  align-items:flex-start;
  height: 1200px;
  width: 80vw;
  margin-left: 200px;
  }
  
  .health-records-form {
    
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
  }
  .RecordHealth{
    display: flex;
    flex-direction: column;
  }
  .form-fields{
    display: flex;
flex-direction: column;
gap:15px;

  /* gap: 0px 300px;  */
  width: 100%; 
  height: 100vh; 
  justify-content:flex-start; 
  /* align-items: center;  */
  }
  
  .label {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 19px;
    color: #444;
  }
  
  .input-field {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #57a46d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .table-container{
    max-height: calc(7 * 40px); /* Adjust 40px to the row height */
    overflow-y: auto;
    border: 1px solid #ccc; /* Optional: Add a border to indicate the scrollable area */
    margin-right: 170px;
  }
  .show-health-records{
    margin-top: 15px;
  }
  .submit-button:hover {
    background-color: #459256;
  }
  
  @media (max-width: 600px) {
    .input-field {
      font-size: 13px;
    }
  
    .submit-button {
      font-size: 14px;
    }
  }
  