html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
  }
  
  .nav-list {
    height: 60px;
    font-family: sans-serif;
    font-family: 30px;
    display: flex;
    align-items: center;
    background-color: #246244; 
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .mainlogo {
    height: 50px; 
    width: auto;
    border-radius: 150px;
    background: transparent;
    /* mix-blend-mode:multiply; */
  }
  
  .nav-items {
    margin-left: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav-items li {
    display: inline-block;
  }
  
  .nav-items  {
    text-decoration: none;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color:#246244; 
  }
  
  .nav-button.active {
    background-color: #45a049;
    color: white;
  }
  .logout-container {
    position: fixed;
    right: 2px;
    display: flex;
    align-items: center;
    /* margin-left: 1210px; */
    margin-right: 110px;
    /* margin-top:-5px; */
  }
  
  .logout-button {
    background-color: #6b757e; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  
  .logout-button:hover {
    background-color: #de2323; 
  }

  body {
    padding-top: 60px; 
  }